{% extends 'base.html.twig' %}

{% block title %}Page Accueil{% endblock %}

{% block body %}
    <div {{stimulus_controller("say-hello")}}>
        <input type="text" {{stimulus_target("say-hello","name")}}>
        <button {{stimulus_action("say-hello", "greet")}}>Dire Hello</button> 
    

    <div {{stimulus_target("say-hello", "output")}}></div>
    </div>
{% endblock %}
