{% extends 'base.html.twig' %}

{% block title %}Qui sommes-nous ?{% endblock %}

{% block meta %}
    <meta name="description" content="Découvrez notre histoire et notre passion pour l'artisanat du champagne sur notre page À propos. Depuis des générations, nous cultivons la vigne avec soin et élabore des cuvées uniques, reflétant l'essence même de notre terroir. Chez nous, chaque bouteille est créée avec dévotion, de la vigne à la cave, pour offrir une expérience de dégustation exceptionnelle. Nous célébrons l'excellence et l'authenticité de notre terroir, en respectant les traditions ancestrales de fabrication du champagne. Notre mission est de vous accompagner dans vos moments spéciaux avec des bulles exquises et de vous offrir un service client attentionné et dévoué. Rejoignez-nous dans cette aventure pétillante, où chaque goutte raconte une histoire unique.">

    <meta name="author" content="David Pires">
{% endblock %}


{% block body %}
<div class="container mb-5 accueil">
<h1 class="liNav text-center mb-4"> Qui sommes-nous ?</h1>
<p>Bienvenue sur Le Domaine du Roi, votre destination en ligne pour découvrir et savourer le meilleur champagne issu d'un savoir-faire familial transmis de génération en génération !

Notre histoire remonte à plusieurs décennies, lorsque notre domaine viticole a été établi avec passion et dévouement par nos ancêtres. Situé au cœur d'une région viticole réputée, nous avons développé une tradition d'excellence dans la culture de raisins de qualité supérieure, qui sont soigneusement récoltés à la main pour préserver leur caractère unique et leurs arômes délicats.</p>
<img class="imgAbout mb-4 mt-4" src="{{ asset('assets/img/image-accueil.jpg') }}" alt="Un verre de champagne">
<p>Chez Le Domaine du Roi, nous sommes fiers de produire notre propre champagne, en veillant à respecter les méthodes artisanales qui ont fait la renommée de notre maison. Chaque étape du processus de production, de la vendange à l'assemblage final, est réalisée avec minutie et expertise, reflétant ainsi notre engagement envers l'authenticité et l'excellence.</p>
<div class="box-image mb-4 mt-4">
<img class="aboutImg"src="{{ asset('assets/img/grapes-g0b40a78d3_1280.jpg') }}" alt="Un cépage blanc"> <img class="aboutImg" src="{{ asset('assets/img/grapes-g69fc506e8_1280.jpg') }}" alt="Un cépage rouge">
</div>
<p>Nous attachons une importance particulière à la qualité de nos cuvées, et c'est pourquoi nous mettons tout en œuvre pour préserver l'essence même du terroir dans chaque bouteille. Nos caves, dotées d'un savoir-faire ancestral, offrent un environnement idéal pour le vieillissement du champagne, donnant ainsi naissance à des produits raffinés, équilibrés et d'une finesse incomparable.

Le respect de la nature et de l'environnement est au cœur de nos valeurs. Nous adoptons des pratiques durables dans la gestion de notre vignoble, dans le but de préserver la richesse de notre terroir pour les générations futures.

Notre équipe passionnée se tient à votre disposition pour vous guider dans votre choix parmi notre sélection exclusive de champagnes. Que vous cherchiez un cadeau élégant pour une occasion spéciale ou que vous souhaitiez simplement vous offrir un moment de dégustation inoubliable, nous sommes là pour vous accompagner dans cette expérience sensorielle unique.

Nous vous invitons à explorer notre gamme de champagnes prestigieux directement depuis notre site. Plongez dans l'univers raffiné du champagne, découvrez notre histoire et nos valeurs, et laissez-vous séduire par l'élégance de notre Domaine du Roi.

Merci de votre confiance et de votre intérêt pour notre site. Nous sommes honorés de partager avec vous notre passion pour le champagne et notre patrimoine familial. Santé !</p>

</div>
{% endblock %}
