{% extends 'base.html.twig' %}

{% block title %}Conditions Générales de Ventes{% endblock %}

{% block meta %}
    <meta name="description" content="Découvrez nos Conditions Générales de Vente (CGV) pour une expérience d'achat en toute confiance sur notre site e-commerce de champagne. Sur cette page, nous détaillons les modalités d'achat, de paiement, de livraison . Vous y trouverez également des informations importantes concernant vos droits et obligations en tant que client. Notre engagement envers la transparence et la satisfaction client vous garantit une expérience d'achat agréable et sereine. Célébrez chaque instant avec les meilleurs champagnes, tout en ayant une compréhension claire de nos Conditions Générales de Vente pour une relation commerciale solide et équilibrée.">

    <meta name="author" content="David Pires">
{% endblock %}


{% block body %}
<div class="container accueil mb-5">
    <h1 class="text-center liNav">Conditions Générales de Ventes</h1>
        <h3>1. Produits et Descriptions</h3>
            <p>Le Domaine du Roi propose à la vente une sélection de champagnes produits par notre domaine viticole local. Chaque produit est accompagné d'une description détaillée comprenant ses caractéristiques, son prix et sa disponibilité. Nous nous efforçons de fournir des descriptions précises et actualisées de nos produits.</p>
        <h3>2. Prix et Paiement</h3>
            <p>Les prix affichés sur le site Le Domaine du Roi sont en euros (EUR) et incluent toutes les taxes applicables. Les frais de livraison, s'ils s'appliquent, seront indiqués lors de la finalisation de la commande.

            Les paiements sont acceptés par les moyens de paiement spécifiés lors du processus de commande. Toutes les transactions sont sécurisées, et les informations de paiement sont traitées conformément à notre Politique de Confidentialité.</p>
        <h3>3. Commande</h3>
            <p>Pour passer une commande sur Le Domaine du Roi, vous devez être majeur(e) et avoir la capacité légale de contracter. En passant une commande, vous déclarez être pleinement habilité(e) à conclure la transaction.

            La finalisation de la commande implique le paiement intégral du montant dû, y compris les frais de livraison le cas échéant.</p>
        <h3>4. Livraison</h3>
            <p>Nous nous engageons à expédier votre commande dans les meilleurs délais. Les délais de livraison peuvent varier en fonction de la destination et du mode de livraison choisi. Les informations concernant les frais et les délais de livraison seront spécifiées lors de la commande.

            Veuillez noter que toute indication de délai de livraison est estimative et sujette à des facteurs indépendants de notre volonté, tels que les retards de transporteur ou les circonstances exceptionnelles.</p>
        <h3>5. Droit de Rétractation</h3>
            <p>Conformément à la législation en vigueur, vous disposez d'un délai de rétractation de 14 jours à compter de la réception de votre commande pour exercer votre droit de rétractation sans avoir à justifier de motifs ni à supporter de pénalités.

            Si vous souhaitez exercer votre droit de rétractation, veuillez nous en informer par écrit par le biais de notre service client. Les produits doivent être retournés dans leur état d'origine, intacts et non utilisés, accompagnés de tous les accessoires éventuels, dans un délai de 14 jours suivant votre communication de rétractation. Les frais de retour restent à votre charge.</p>
        <h3>6. Service Client</h3>
            <p>Notre service client est disponible pour répondre à toutes vos questions et vous assister tout au long du processus d'achat via la page contact de notre site</p>
</div>
{% endblock %}