{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}


{% block body %}
<p>Pages de politique de confidentialité</p>
<h1> VIE PRIVÉE & COOKIES</h1><br>
        <h3>Informations sur l'utilisation des cookies
        Protection des données personnelles</h3>
        
        <p>En France, les données personnelles sont notamment protégées par la loi n°78-87 du 6 janvier 1978, la loi n°2004-801 du 6 août 2004, l’article L.226-13 du Code Pénal et la directive européenne du 24 octobre 1995.
        
        A l’occasion de l’utilisation du site peuvent ainsi être recueillies l’URL des liens par le biais desquels l’utilisateur a accédé au site, son adresse IP ainsi que son fournisseur d’accès.
        
        En tout état de cause les informations et données collectées ne le sont que dans le but de rendre le plus efficaces les services proposés par le site à ses clients. L’utilisateur les fournit en toute connaissance de cause notamment lorsqu’il procède par lui-même à leur saisie.
        
        Aucune information personnelle de l’utilisateur du site www.LeVignobleBio.com n’est publiée à l’insu de l’utilisateur, échangée, transférée, cédée ou vendue sur un support quelconque à des tiers. Seule l’hypothèse du rachat de Vinibee et de ses droits permettrait la transmission des dites informations à l’éventuel acquéreur qui serait à son tour tenu de la même obligation de conservation et de modification des données vis-à-vis de l’utilisateur du site.
        
        En vertu de la loi n°78-17 du 6 janvier 1978 relatives à l’informatique, aux fichiers et aux libertés, le client dispose auprès de Vinibee d’un droit de rectification, de consultation, de modification et de suppression des données personnelles que vous nous avez communiquées. Si le Client souhaite exercer ce droit, il lui suffit soit de nous écrire, soit d’en faire la demande via, entre autres, la boîte de dialogue de notre site.
        
        Le site www.LeVignobleBio.com est déclaré à la CNIL (Commission Nationale de L’Informatique et des Libertés) sous le numéro 2005895.<br>
        
        LeVignobleBio ne pourrait à ce titre être tenu pour responsable des dommages directs ou indirects tels que, notamment, préjudice matériel, financier, perte de données ou de programme résultant de l’utilisation du site ou des sites et services qui lui sont liés.
        
        Vinibee est propriétaire du site www.vinibee.com et s’engage à mettre en œuvre tous les moyens nécessaires pour assurer la sécurité des informations mises à disposition sur l’espace constitué par le site.
        
        
        
        <h1>Cookies</h1>
        
        La navigation sur le site www.LeVignobleBio.com est susceptible de provoquer l’installation de Cookies dans votre ordinateur, tablette ou téléphone mobile. Ces fichiers de petite taille enregistrent des informations relatives à la navigation sur un site et permettent ainsi de faciliter la navigation ultérieure sur celui-ci. Elles nous donnent également la possibilité d’effectuer diverses mesures de fréquentation du dite. Le refus d’installation d’un cookie peut entraîner l’impossibilité d’accéder à certains services.
        
        Cette page permet de comprendre plus en détail ce qu’est un Cookie, à quoi il sert et comment on peut le paramétrer.
        
        <h1>Qu’est ce qu’un Cookie ?</h1>
        
        Il s’agit d’un fichier texte déposé dans un espace dédié du disque dur de votre terminal (ordinateur, tablette, téléphone mobile ou tout autre appareil optimisé pour Internet), lors de la consultation d’un contenu ou d’une publicité en ligne. Ce fichier Cookie ne peut être lu que par son émetteur. Il permet d’identifier votre terminal dans lequel il est enregistré, pendant une durée de validité limitée.
        
        <h1>À quoi servent les Cookies ?</h1>
        
        Quatre types de Cookies, répondant aux finalités décrites ci-dessous, peuvent ainsi être enregistrés dans votre terminal à l’occasion d’une visite de notre site :
        
        Les Cookies techniques sont nécessaires à la navigation dans notre site, ainsi qu’à l’accès aux différents produits et services. Les Cookies techniques permettent en particulier de vous reconnaître, de signaler votre passage sur telle ou telle page et ainsi d’améliorer votre confort de navigation : adapter la présentation du site aux préférences d’affichage de votre terminal (langue utilisée, résolution d’affichage), mémoriser les mots de passe et autres informations relatives à un formulaire que vous avez rempli sur le site (inscription ou accès à l’espace adhérents). Les Cookies techniques permettent également de mettre en œuvre des mesures de sécurité (c’est le cas par exemple lorsqu’il vous est demandé de vous connecter à nouveau à l’espace adhérent après un certain laps de temps). Ces Cookies ne peuvent pas être désactivés ou paramétrés sous peine de ne plus pouvoir accéder au site et/ou aux services du site.
        Les Cookies de mesure d’audience sont émis par nous ou par nos prestataires techniques aux fins de mesurer l’audience des différents contenus et rubriques de notre site, afin de les évaluer et de mieux les organiser. Ces Cookies permettent également, le cas échéant, de détecter des problèmes de navigation et par conséquent d’améliorer l’ergonomie de nos services. Ces Cookies ne produisent que des statistiques anonymes et des volumes de fréquentation, à l’exclusion de toute information individuelle. La durée de vie de ces Cookies de mesure d’audience n’excède pas 13 mois.
        Les Cookies « Réseaux sociaux » permettent de partager des contenus de notre site avec d’autres personnes ou de faire connaître à ces autres personnes votre consultation ou votre opinion concernant un contenu du site. Tel est, notamment, le cas des boutons « partager», « j’aime», issus de réseaux sociaux Facebook ou Twitter. Le réseau social fournissant un tel bouton applicatif est susceptible de vous identifier grâce à ce bouton, même si vous n’avez pas utilisé ce bouton lors de la consultation de notre site. Nous vous invitons à consulter les politiques de protection de la vie privée de ces réseaux sociaux afin de prendre connaissance des finalités d’utilisation, notamment publicitaires, des informations de navigation qu’ils peuvent recueillir grâce à ces boutons applicatifs. La durée de vie de ces Cookies n’excède pas 13 mois.
         
        
        <h1>Vos choix concernant les Cookies</h1>
        
        En utilisant notre site, vous consentez à l’utilisation des Cookies précités. Vous pouvez toutefois choisir à tout moment de désactiver tout ou partie de ces Cookies, à l’exception des Cookies techniques nécessaires au fonctionnement du site comme indiqué ci-dessus. Votre navigateur peut également être paramétré pour vous signaler les Cookies qui sont déposés dans votre terminal et vous demander de les accepter ou pas.
        
        Refuser un Cookie par l’intermédiaire de votre logiciel de navigation
        Vous pouvez à tout moment choisir de désactiver tout ou partie des Cookies. Votre navigateur peut également être paramétré pour vous signaler les Cookies déposés dans votre terminal et demander de les accepter ou non (au cas par cas ou en totalité). Nous vous rappelons toutefois que la désactivation de tous les Cookies vous empêchera d’utiliser notre site dans des conditions normales, à l’exception des fonctions basiques.
        
        Si vous utilisez le navigateur Explorer : cliquez sur le bouton Outils, puis Options Internet. Sous l’onglet général, Historique de navigation, cliquez sur Paramètres. Puis cliquez sur Afficher les fichiers et sélectionnez le ou les Cookies que vous souhaitez désactiver. Fermez ensuite la fenêtre qui contient cette liste de Cookies et cliquez deux fois sur OK pour retourner sur Internet.
        
        Si vous utilisez le navigateur Firefox : cliquez sur l’icône du Menu Firefox, puis sur le bouton Outils, puis Options ; dans la fenêtre qui s’affiche, choisissez Vie Privée et cliquez sur Supprimez Cookies Spécifiques. Sélectionnez les Cookies que vous souhaitez désactiver puis supprimez-les.
        
        Si vous utilisez le navigateur Safari : cliquez sur le bouton Paramètres, puis  Préférences. Dans la fenêtre qui s’affiche, choisissez  Confidentialité/Sécurité, et cliquez sur Afficher les Cookies. Sélectionnez les Cookies que vous souhaitez désactiver puis clic sur Effacer ou sur Tout effacer.
        
        Si vous utilisez le navigateur Chrome : cliquez sur l’icône du menu Google Chrome, puis Paramètres. Au bas de la page, cliquez sur Afficher les paramètres avancés. Dans la section Confidentialité, cliquez sur Paramètre de contenus. Pour désactiver les cookies :
        
        sélectionnez Interdire à tous les sites de stocker des données
        cliquez sur Cookies et données de site, puis passez la souris sur le site ayant créé le Cookie, et cliquez sur X dans l’angle droit, ou cliquez sur Tout supprimer.
        Attention, ces Cookies permettent de mesurer le trafic ou l’audience, associé à notre site internet, aux pages visitées et aux interactions réalisées sur le Site lors de votre visite. Les désactiver empêche donc toute collecte d’informations relatives à votre navigation sur notre Site et donc la proposition de contenus adaptés en fonction de votre navigation.
    </p>

{% endblock %}


