{% extends 'base.html.twig' %}

{% block title %}Foire Aux Questions{% endblock %}

{% block meta %}
    <meta name="author" content="David Pires">
{% endblock %}

{% block body %}
<section class="home">
    <div class="container accueil mb-5 mt-4">
        <div class="d-flex justify-content-center mb-4">
            <img class="w-25"src="{{ asset('./assets/img/faq-g31b7da348_640.jpg') }}" alt="Image FAQ">
        </div>
            {# <h1 class="text-center liNav">Foire Aux Questions</h1> #}
                <h3>1. Qu'est-ce que Le Domaine du Roi ?</h3>
                    <p>Le Domaine du Roi est un site e-commerce de vente de champagne proposant une sélection de cuvées prestigieuses issues de notre domaine viticole familial établi depuis plusieurs générations.</p>
                <h3>2. Quels types de champagne proposez-vous ?</h3>
                    <p>Nous proposons une gamme variée de champagnes allant des cuvées bruts aux millésimés, en passant par des champagnes rosés. Toutes nos cuvées sont produites avec passion et expertise pour garantir une expérience de dégustation inoubliable.</p>
                <h3>3. D'où proviennent vos raisins ?</h3>
                    <p>Les raisins utilisés pour la production de nos champagnes proviennent de notre propre vignoble local situé dans une région viticole renommée, propice à la culture de raisins de qualité</p>
                <h3>4. Comment passer une commande sur Le Domaine du Roi ?</h3>
                    <p>Pour passer une commande, il vous suffit de sélectionner les champagnes de votre choix, les ajouter à votre panier, puis suivre les étapes du processus de commande. Il vous faudra créer un compte auparavant afin de pouvoir passer commande sur notre site internet.</p>
                <h3>5. Quels sont les délais de livraison ?</h3>
                    <p>Les délais de livraison dépendent de la destination et du mode de livraison choisi. Ils sont généralement indiqués lors de la finalisation de la commande.</p>
                <h3>6. Quels sont les modes de paiement acceptés ?</h3>
                    <p>Nous acceptons les paiements par carte bancaire (Visa, Mastercard, Cartes Bancaires en France ou Interac au Canada.)   </p>
                <h3>7. Offrez-vous une garantie satisfaction ?</h3>
                    <p class="mb-4">Nous sommes engagés envers la satisfaction de nos clients. Si vous rencontrez le moindre problème avec votre commande, veuillez nous contacter rapidement, et nous ferons de notre mieux pour résoudre la situation.</p>

                    <p>Si vous ne trouvez pas votre bonheur dans ces réponses, veuillez contacter le site via notre rubrique <a href="{{ path('app_contact')}}">"Contactez nous"</a></p>
    </div>
</section>
{% endblock %}