{% extends 'base.html.twig' %}

{% block title %}Foire Aux Questions{% endblock %}


{% block body %}

<img src="{{ asset('./assets/img/faq-g31b7da348_640.jpg') }}" alt="">
<h1>Foire Aux Questions</h1>
        <h3>Pourquoi faut-il se creer un compte sur Le domaine du Roi?</h3>
        <p>Vous créer un compte sur LeVignobleBio vous permet de passer des commandes mais vous donne également accès à des fonctionnalités supplémentaires : 
        <br>Consulter l’historique de vos commandes, ajouter vos vins préférés à votre liste de favoris, gérer vos adresses de livraison et de facturation.
        <br>Vous pouvez commander les vins de votre choix et vous les faire livrer chez vous. </p>

        <h3>Comment passer une commande ?</h3>
        <p>Vous ajoutez simplement les vins que vous souhaitez à votre panier et suivez le processus de commande. 
        <br>Il vous sera demandé soit de vous connecter (si vous avez déjà un compte), soit de collecter les informations nécessaires à la création d’un compte.</p>

        <h3>Comment les vigneron(ne)s sont sélectionnés</h3>
        <p>Les artisans vignerons que nous sélectionnons travaillent de façon authentique, dans le respect de la vigne et de l’environnement.
            <br>Ces hommes et ces femmes sont porteurs de valeurs, et il nous tient à cœur de les faire connaître.
            <br>Ils fuient l’uniformité et travaillent sans maquillage, sans rechercher à développer de manière artificielle un « goût susceptible de plaire au marché ».
            <br>Nous entretenons dans la durée des relations de proximité et de confiance avec eux, les rencontrons régulièrement et travaillons sans intermédiaire, en circuit court.</p>

        <h3>Ma commande n’arrive pas – que puis-faire ?</h3>
        <p>Au moment de l’expédition de votre commande, LeVignobleBio vous a envoyé un e-mail contenant un lien vers le site de notre transporteur.
            <br>Cliquez sur ce lien, il vous permettra de visualiser le N° de suivi de votre colis ainsi que l’avancement de la livraison.
            <br>En cas de souci (perte du mail), contactez-nous.</p>
          
        <h3>Est-il préférable d’attendre avant de consommer les vins livrés ou puis-je les ouvrir rapidement ?</h3>
        <p>Il est préférable de laisser les bouteilles reposer au moins 1 ou 2 jours dans un endroit frais (entre 12 et 15°C) de les ouvrir.
            <br>Pensez également à les carafer une heure avant dégustation.</p>
{% endblock %}