{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<div class="container accueil mb-5">
<h1 class="text-center liNav">Mentions Légales</h1>
    <p>
        En vertu de l’article 6 de la loi n°2004-575 pour la confiance dans l’économie numérique, les informations suivantes sont mises à la disposition des utilisateurs du site https://le-domaine-du-roi.fr/ .
    </p>
    <h3>Ventes de boisson Alcoolisé</h3>
    <p>
        Conformément à l’article L.3342-1 du Code de la Santé Publique, la vente de boissons alcooliques à des mineurs est interdite. Toutes les offres présentes sur le site sont donc réservées aux personnes majeurs de 18 (dix huit) ans révolus.
    <br>Nous rappelons en outre que l’alcool est à consommer avec modération et que son abus est dangereux pour la santé</br>
    </p>
    <h3>Propriété intellectuelle et contrefaçon</h3>
    <p>
        Le Domaine du Roi est propriétaire des droits de propriété intellectuelle et détient les droits d’usage sur tous les éléments accessibles sur le site, notamment les textes, images, vidéos, graphismes, logos, icônes, sons, logiciels.
    <br>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie de ces éléments, quel que soit le moyen ou le procédé utilisé, est interdite sauf autorisation préalable de Le Domaine du Roi. De la même façon, la création de lien hypertexte vers le site est soumise à l’accord préalable de celui-ci.
    <br>Toute exploitation non autorisée du site ou de l’un des éléments qu’il contient sera considérée comme une contrefaçon et poursuivie conformément aux dispositions des articles L.335-2 et suivants du Code de Propriété Intellectuelle.
    </p>
    <h3>Collecte des données personnelles</h3>
    <p>Le site Le Domaine du Roi peut collecter des données personnelles dans le cadre de son fonctionnement, notamment lors de la création d'un compte client ou d'une commande. Les données collectées sont utilisées uniquement dans le but de fournir nos services et de traiter les commandes. Nous nous engageons à protéger la confidentialité de vos données personnelles conformément à notre Politique de Confidentialité.</p>
    <h3>Loi applicable et juridiction</h3>
    <p>Les présentes mentions légales sont régies par la loi française. Tout litige relatif au site Le Domaine du Roi sera soumis à la juridiction exclusive des tribunaux de Reims, France.</p>
    <p>Ces mentions légales sont susceptibles d'être mises à jour. Nous vous invitons à les consulter régulièrement pour vous tenir informé des éventuelles modifications.</p>
</div>
{% endblock %}


