{% extends 'base.html.twig' %}

{% block title %}Conditions d'utilisation{% endblock %}

{% block meta %}
    <meta name="description" content="Consultez nos conditions d'utilisation pour profiter pleinement de votre expérience sur notre site e-commerce de champagne. Sur cette page, vous trouverez les termes et conditions qui régissent l'utilisation de notre site, incluant les règles de confidentialité et de sécurité des données. Nous sommes engagés à protéger vos informations personnelles et à garantir une expérience de magasinage sécurisée. En parcourant nos conditions d'utilisation, vous pourrez mieux comprendre vos droits et responsabilités en tant qu'utilisateur de notre site. Faites confiance à notre engagement envers la transparence et la protection de vos données tout en célébrant chaque instant avec les meilleurs champagnes artisanaux.">

    <meta name="author" content="David Pires">
{% endblock %}


{% block body %}

<div class="container accueil mb-5">
    <h1 class="text-center liNav">Conditions d'utilisation</h1>
        <h3>1. Utilisation du Site</h3>
            <p>Le Domaine du Roi met ce site à votre disposition pour vous permettre de découvrir nos produits et de passer des commandes. Vous vous engagez à utiliser ce site conformément aux lois et règlements applicables, ainsi qu'aux présentes Conditions d'Utilisation.</p>
        <h3>2. Responsabilité</h3>
            <p>Nous nous efforçons de maintenir ce site à jour et accessible en permanence. Cependant, nous ne pouvons garantir que le site sera exempt d'erreurs, de bugs ou d'interruptions. Nous déclinons toute responsabilité en cas d'indisponibilité temporaire du site.

            Le Domaine du Roi ne peut être tenu responsable des dommages directs ou indirects résultant de l'utilisation ou de l'impossibilité d'utiliser ce site ou de l'accès à des ressources externes.</p>
        <h3>3. Modification des Conditions d'Utilisation</h3>
            <p>Nous nous réservons le droit de modifier les présentes Conditions d'Utilisation à tout moment. Toute mise à jour sera publiée sur cette page, et la date de dernière mise à jour sera indiquée en haut de la page. Il vous est conseillé de consulter régulièrement cette page pour vous tenir informé des changements éventuels.</p>
</div>
{% endblock %}