
<img src="https://le-domaine-du-roi.fr/assets/img/Fichier_72x.png" alt="Logo de votre site" class="img-fluid img-thumbnail rounded-circle mb-4" style="width:15%">

<h1>Confirmer votre e-mail</h1>

<p>Bienvenue sur Le Domaine du Roi ! Merci pour votre inscription ! Elle sera complète lorsque vous aurez confirmé votre adresse mail.</p>

<p>
    Veuillez cliquer sur le lien suivant afin de confirmer votre adresse e-mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expirera dans :  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
