<h1>Confirmer votre e-mail</h1>

<p>
    Veuillez cliquer sur le lien suivant afin de confirmer votre adresse e-mail: <br><br>
    <a href="{{ signedUrl|raw }}">Confirm my Email</a>.
    Ce lien expirera dans :  {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p>
    Merci !
</p>
