{% extends 'base.html.twig' %}

{% block title %}Gestion de compte{% endblock %}

{% block body %}

    <h1 class="text-center liNav mt-4">Bonjour {{ app.user.prenom }} {{ app.user.nom }} ! ✅</h1>
     
    <h2 class="compteClient mt-4">Mon compte</h2> 

    <section id="profilUser" class="mb-5">
        <div class="afficheUser">
            <a class="fw-bold" href='{{ path('app_details_membre')}}'>Afficher mes infos</a>
        </div>

        <div class="afficheCommande">
            <a class="fw-bold" href="{{ path('app_mes_commandes')}}">Afficher mes commandes</a>
        </div>
    </section>
     

{% endblock %}
