{% extends 'base.html.twig' %}

{% block title %}Reinitialiser votre mot de passe{% endblock %}

{% block meta %}
    
    <meta name="description" content="Réinitialisez facilement votre mot de passe en quelques étapes simples ! Sur cette page, saisissez votre adresse email associée à votre compte pour recevoir un lien de réinitialisation sécurisé. Profitez d'un processus de récupération de mot de passe fluide et sécurisé, conçu pour vous offrir une expérience utilisateur sans tracas. Célébrez chaque instant avec les meilleurs champagnes, en ayant l'assurance de pouvoir réinitialiser votre mot de passe en cas d'oubli.">
    <meta name="author" content="David Pires">


{% endblock %}

{% block body %}
<div class="container mb-4 home w-50">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
        <h1 class="text-center liNav mb-5">Reinitialiser votre mot de passe</h1>

    {{ form_start(requestForm) }}
        {{ form_row(requestForm.email) }}
            <div class="mb-5">
                <small>
                    Entrer votre adresse e-mail et il vous sera envoyé un lien pour 
                    reinitialiser votre mot de passe
                </small>
            </div>

                <button class="btn btn-outline-success">Envoyer un e-mail</button>
    {{ form_end(requestForm) }}
</div>
{% endblock %}
