{% extends 'base.html.twig' %}

{% block title %}Reinitialiser mot de passe{% endblock %}

{% block meta %}

    <meta name="description" content="Définissez votre nouveau mot de passe en toute sécurité et retrouvez facilement l'accès à votre compte ! Sur cette page, choisissez un nouveau mot de passe robuste et unique pour votre compte utilisateur. Profitez d'un processus de définition de mot de passe simple et sécurisé, conçu pour vous offrir une expérience utilisateur sans tracas. Célébrez chaque instant avec les meilleurs champagnes, en sachant que votre compte est protégé par un mot de passe solide et que vous pouvez vous concentrer sur le plaisir de déguster nos bulles exquises.">
    <meta name="author" content="David Pires">

{% endblock %}

{% block body %}
<div class="container home mb-4 w-50">
    <h1 class="liNav text-center mb-4">Réinitialiser votre mot de passe</h1>

    {{ form_start(resetForm) }}
        {{ form_row(resetForm.plainPassword) }}
        <button class="btn btn-outline-success">Réinitialiser le mot de passe</button>
    {{ form_end(resetForm) }}
</div>
{% endblock %}
