<div id="popup" data-popup="popup-1">
    <div class="verify-window">
     <h2>Verification de l'âge </h2>
      <p>Pour visiter notre site internet, vous devez disposer de l’âge légal pour consommer de l’alcool en France. </p>
        <h3>Avez-vous plus de 18 ans ?</h3>
        <p align="center">En cliquant sur "Oui", je certifie être majeur.</p>

        <div class="button-yes" data-popup-close="popup-1">
           Oui
        </div>

        <a href="https://www.google.com" target="_parent">
            <div class="button-no">
                Non
            </div>
        </a>
    </div>
</div>