<div id="popup" data-popup="popup-1">
    <div class="verify-window">
     <h2>Verification de l'âge </h2>
      <p>Vous devez avoir au moins 18 ans pour poursuivre la navigation sur le Domaine du Roi en vertue de la legislation Française sur la vente d'alcool. </p>
        <h3>Avez-vous plus de 18 ans ?</h3>
        <p align="center">En cliquant sur "Oui", je certifie être majeur.</p>

        <div class="button-yes" data-popup-close="popup-1">
           Oui
        </div>

        <a href="https://www.google.com" target="_parent">
            <div class="button-no">
                Non
            </div>
        </a>
    </div>
</div>