        <section class="footer">
            <nav class="left-footer-menu">
                <ul>
                    <li>Mentions legales</li>
                    <li>Conditions générales de ventes</li>
                    <li>Conditions d'utilisation</li>
                    <li>FAQ</li>
                    <li>Vie privée et cookies</li>
                </ul>
            </nav>

            <nav class="right-footer-menu">
                <ul>
                    <li>Qui sommes-nous</li>
                    <li>Suivez nous :</li>
                    <li><a href="https://fr-fr.facebook.com/" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/?hl=fr" target="_blank" rel="noopener noreferrer"><i class="fa-brands fa-instagram"></i></a>
                    </li>
                    <li>Contactez nous</li>
                </ul>
            </nav>
        </section>
        <section class="footer-footer">
            <p class="paragraph">Interdiction de vente de boissons alcoolisées aux mineurs</p>
            <p class="paragraph">L'ABUS D'ALCOOL EST DANGEREUX POUR LA SANTÉ. À CONSOMMER AVEC MODÉRATION</p>
        </section>