{% extends 'base.html.twig' %}

{% block title %}Admin | Cepage Management {% endblock %}

{% block body %}
<h1 class="mb-3 liNav text-center">Insertion Cépage</h1>
	<div class="container mb-5">
		<div class="row liNav">
				{{ form_start(CepageForm) }}
				{{ form_row(CepageForm.name) }}

				<button type="submit" class="btn btn-outline-success mb-5">Valider</button>
				{{ form_end(CepageForm) }}
		</div>
	</div>

{% endblock %}