{% extends 'base.html.twig' %}

{% block title %}Admin |Cepage Management {% endblock %}

{% block body %}

<h1 class="mb-3 liNav text-center">Insertion type de produit</h1>
	<div class="container text-dark mb-5">
		<div class="row liNav">
				{{ form_start(TypeProduitForm) }}
				{{ form_row(TypeProduitForm.name) }}

				<button type="submit" class="btn btn-outline-success mb-5">Valider</button>
				{{ form_end(TypeProduitForm) }}
		</div>
	</div>

{% endblock %}