 #popup {
    z-index: 1000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.88);
  }
  
  .verify-window {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 300px;
      height: fit-content;
      margin-left: -150px;
      margin-top: -100px;
      overflow: hidden;
      border-radius: 10px;
      padding: 20px;
      background-color: #fff;
      box-sizing: border-box;
      box-shadow: 0 20px 60px rgba(0, 0, 0, 0.2);
      color: black;
  }
  
  .verify-window img {
      display: block;
     
      margin: 0 auto;
      padding: 20px;
  }
  
  .verify-window h2, h3 {
      font-family: 'Roboto', sans-serif;
      color: #4d4d4d;
      font-size: 1.5em;
      line-height: 1.7;
      margin-top: 10px;
      text-align: center;
  }
  .verify-window h3 {
     font-size: 1em;
  }
  
  .verify-window p {
      font-family: 'Roboto', sans-serif;
      font-size: 1em;
      color: #4d4d4d;
      margin-top: 10px;
      line-height: 1.7;
      text-align: center;
  }
  
  .button-yes,
  .button-no {
      background: #fff;
      color: #ADCC21;
      width: 20%;
      margin-top: 10px;
      border: 2px solid #ADCC21;
      padding: 12px 12px;
      border-radius: 30px;
      font-family: 'Roboto', sans-serif;
      text-align: center;
      font-size: 1em;
  }
  
  .button-no {
      float: right;
      margin-right: 20px;
      border: 2px solid #e10202;
      color: #e10202;
      display: block;
  }
  
  .button-yes {
      float: left;
      margin-left: 20px;
  }
  
  .button-yes:hover {
      background: #ADCC21;
      color: #fff;
      transition: all 0.2s ease;
      cursor: pointer;
  }
  
  .button-no:hover {
      background: #e10202;
      color: #fff;
      transition: all 0.2s ease;
      cursor: pointer;
  }

  
