.footer {
    display : flex;
    justify-content: space-between;
    align-items: center;
    color: goldenrod;
    margin-right: 1.5rem;

}


.left-footer-menu li {
    font-size: 1rem;
    list-style-type: none;
    line-height: 2rem;
    text-align: start;
    
}

.right-footer-menu li {
    font-size: 1rem;
    list-style-type: none;
    line-height: 2rem;
    text-align: end;
}


.footer-footer {
    font-size: 1.5rem;
    text-align: center;
}

.paragraph {
    text-align: center;
    color: goldenrod;
}

i {
    color: goldenrod;
    padding: 0.5em;
}

.imageFooter {
    max-width: 100%;
}

a, a:visited {
    color: goldenrod;
    text-decoration: none;
}

@media (max-width:769px) {
    .footer-footer{
        font-size: 1rem;
    }
}
