.img-accueil {
   margin-top: 1rem; 
   width: 40%;
}

.home {
    margin-top: 10rem;
    margin-bottom: 13rem;
}

.accueil {
    color: #000000;

    line-height: 2.5rem;
    font-size: 1.3rem
}

.titleHome {
    text-align: center;
    color: goldenrod; 
}

/* .backHome {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    margin-top: 1rem;
    padding: 1rem;
} */


@media screen and (max-width: 1024px) {
    .backHome {
        flex-direction: column;
    }
    .img-accueil {
        width: 100%;
    }
}
