
.wrapper {
    max-width: 1000px;
    margin: 0 auto;

}

.wrapper h1 {
    padding: 30px 0;
    text-align: center;
    color: goldenrod;
}

.project{
    display: flex;
}

.shop {
    flex: 75%;
}

.box {
    display: flex;
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 20px;
    background: #ffffff;
    transition: all .6s ease;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}

.box:hover{
    transform: scale(1.02);
}

.box img{
    width: 3rem;
    margin-left: 2rem;
    margin-top: 2rem;
    object-fit: cover;

}

.content {
    padding: 20px;
    position: relative;
    width: 100%;
}

.content h3 {
    margin-bottom: 0px;
}

.content h4 {
    margin-bottom: 0px;
}

.btn-area {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 10px 25px;
    background-color: #76bfb6;;
    color: #ffffff;
    cursor: pointer;
    border-radius: 10px;
    font-weight: 600;
}

.btn-area:hover {
    background-color: #76bfb6;
    color: #ffffff;
}

.unit input {
    width: 50px;
    padding: 8px;
    text-align: center;
}

.btn-area i{
    margin-right: 5px;
}

.right-bar {
    flex: 25%;
    margin-left: 20px;
    padding: 20px;
    height: 400px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: rgba(100,100,111,0.2) 0 7px 29px 0;
}

.right-bar hr {
    margin-bottom: 25px;
}

.right-bar p{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    font-size: 20px;
}

.right-bar button {
    background-color: #76bfb6;
    color: #ffffff;
    text-decoration: none;
    display: block;
    text-align: center;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    
}

.right-bar i {
    margin-right: 15px;
}

.right-bar button:hover{
    background-color: #397ca7;
}

@media screen and (max-width: 700px){
    .content h3 {
        margin-bottom: 15px;
    }

    .content h4 {
        margin-bottom: 20px
    }

    .btn2{
        display: none;
    }

    .box {
        height: 150px;
    }

    .box img {
        height: 100px;
        width: 50px;
    }
}

@media screen and (max-width: 900px){
    .project {
        flex-direction: column;
    }

    .right-bar {
        margin-left: 0;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1250px){
    .wrapper {
        max-width: 95%;
    }
}


