{% extends 'base.html.twig' %}


{% block title %}Confirmation

{% endblock %}


{% block body %}

  <div class="home mb-5">

    <div class="mt-5 p-5 d-flex flex-column justify-content-center align-items-center text-dark">

      <h3>Votre commande n°{{order.reference}} à bien été payée et enregistrée !</h3>

      <h5>Merci de votre confiance.</h5>

      <p>Vous pouvez retrouver un exemplaire de votre facture dans votre espace personnel.</p>
      {# <h5>montant régle:

        {{ orderTotal }}€</h5> #}

      <a class="btn btn-outline-success mt-3 mb-4" href="{{ path('app_champagne') }}">Retour à la boutique</a>

    </div>

  </div>

{% endblock %}