{% extends 'base.html.twig' %}


{% block title %}Confirmation

{% endblock %}


{% block body %}

  <div>

    <div class="mt-5 p-5 border border-primary d-flex flex-column justify-content-center align-items-center text-dark">

      <h3>Votre commande est complete!!</h3>

      <h5>Merci de votre confiance.</h5>

      {# <h5>montant régle:

        {{ orderTotal }}€</h5> #}

      <a class="btn btn-outline-primary mt-3" href="{{ path('app_champagne') }}">Retour à la boutique</a>

    </div>

  </div>

{% endblock %}